@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@500&family=Open+Sans:wght@500&family=Orbitron:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,400;1,500;1,600&family=Roboto+Condensed&display=swap');

*, html, body { 
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Poppins', sans-serif;
  background-color: D9D9D9;
}


.slider{
  margin-top: -95px;
}

.carousel-item {
  width: 100%;
  height: 100vh;
  img{
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
  }
  .carousel-caption{
    .container{
      h5{
        font-size: 2em;
      }
      h1{
        font-size: 3em;
        font-weight: 700;
        letter-spacing: 2px;
      }
    }
  }
}
.carousel-control-prev-icon{
  background-image: url('/image/arrow-left.png')!important;
}
.carousel-control-next-icon{
  background-image: url('/image/arrow-right.png')!important;
}
.carousel-caption {
  bottom: 16.25rem!important;
  left: 10%!important;
  right: 10%!important;
}
