@import url("https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@500&family=Open+Sans:wght@500&family=Orbitron:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,400;1,500;1,600&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@500&family=Open+Sans:wght@500&family=Orbitron:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,400;1,500;1,600&family=Roboto+Condensed&display=swap");
*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.intro{
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transition: 2s;
}
.logo-header{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.logo{
  position: relative;
  display: inline-block;
  bottom: -20px;
  font-size: 40px;
  font-weight: bold;
}
.logo.active{
  bottom: 0; 
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.logo.fade{
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
/* AND INTRO */

.bgcolor.srolled {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.3) 100%) !important;
}
.navbar {
  z-index: 1 !important;
}
.welcome {
  width: 100%;
  height: 100vh;
  margin-top: -110px;
}
.welcome img {
  width: 100%;
  height: 100vh;
}

.navbar-default.scrolled {
  background: #000;
}

.modal-content {
  background-color: #ecf0f3 !important;
}

.modal-header {
  border-bottom: none !important;
  padding: unset !important;
  margin-left: 20px;
  margin-right: 10px;
}

.modal-body {
  padding: unset !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.modal-footer {
  border-top: none !important;
  padding: unset !important;
  justify-content: center !important;
}

.carousel-item {
  width: 100%;
  height: 100vh;
}
.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.carousel-item .carousel-caption .container h5 {
  font-size: 2em;
}
.carousel-item .carousel-caption .container h1 {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 2px;
}

.carousel-control-prev-icon {
  background-image: url("/image/arrow-left.png") !important;
}

.carousel-control-next-icon {
  background-image: url("/image/arrow-right.png") !important;
}

.carousel-caption {
  bottom: 10.25rem !important;
  left: 10% !important;
  right: 10% !important;
}

.daftar-wisata {
  padding-top: 10em;
  margin-bottom: 10em;
}
.daftar-wisata .carousel-caption-destinasi {
  position: absolute;
  right: 15%;
  bottom: 0.75rem;
  left: 15%;
  padding-top: 1.25rem;
  color: #fff;
  text-align: center;
}

.inspirasi-wisata {
  margin-bottom: 10em;
}

.footer {
  margin-top: 10em;
  padding-top: 5em;
  padding-bottom: 2em;
  background-color: #1E1E1E;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.footer i {
  font-size: 25px;
}

input {
  font-size: 14px !important;
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  color: #000 !important;
  padding: 8px 13px 8px 8px;
}

.form-field {
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: inset 15px 15px 15px #cbced1, inset -10px -10px 10px #fff;
}

.title {
  font-size: 2em;
}

.strip {
  width: 80px;
  height: 8px;
  background-color: gray;
  margin-bottom: 20px;
}

.caption {
  position: absolute;
  right: 15%;
  bottom: 21.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
